apiVersion: v1
kind: Service
metadata:
  labels:
    app: mycafeapp
  name: mycafeapp
spec:
  type: NodePort
  ports:
    - port: 80
      targetPort: 80
      protocol: TCP
  selector:
    app: mycafeapp
